/* 引入自定义字体 */
@font-face {
    font-family: 'LXGWWenKaiMonoLite';
    src: url('../font/LXGWWenKaiMonoLite-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'LXGWWenKaiMonoLite', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
}

#filename {
    color: #2a5298;
    text-align: center;
}

#content {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

button:hover {
    background-color: #45a049;
}

/* 代码部分样式，模仿GitHub风格 */
pre[class*="language-"], code[class*="language-"] {
    background-color: #f6f8fa; /* 灰白色背景 */
    border-radius: 6px; /* 圆角边框 */
    border: 1px solid #e1e4e8; /* 灰色边框 */
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace; /* 设置等宽字体 */
    overflow-x: auto; /* 允许横向滚动 */
    padding: 16px; /* 增加内边距 */
    font-size: 85%; /* 调整字体大小 */
    line-height: 1.45; /* 调整行高 */
    white-space: pre-wrap; /* 保持空白符号 */
    word-wrap: break-word; /* 自动换行 */
    user-select: text; /* 允许复制 */
}

/* 增加代码行号的样式（如果使用了行号） */
pre[class*="language-"] > code {
    display: block;
}



@media (max-width: 600px) {
    body {
        padding-left: 5%;
        padding-right: 5%;
    }
}
